.x-docked-top.x-toolbar {
   border-bottom-width: 1px !important;
}

.x-docked-top.x-toolbar.main {
   border-bottom-width: 5px !important;
}

.icon-accept {
   background-image: url("icons/tick.png");
}

.icon-add {
   background-image: url("icons/plus-button.png");
}

.icon-cancel {
   background-image: url("icons/cross.png");
}

.icon-close {
   background-image: url("icons/cross-white.png");
}

.icon-delete {
   background-image: url("icons/cross-button.png");
}

.icon-edit {
   background-image: url("icons/pencil-button.png");
}

.icon-home {
   background-image: url("icons/home.png");
}

.icon-minus {
   background-image: url("icons/minus.png");
}

.icon-page {
   background-image: url("icons/document.png");
}

.icon-plus {
   background-image: url("icons/plus.png");
}

.icon-refresh {
   background-image: url("icons/arrow-circle-315.png");
}

.icon-reset {
   background-image: url("icons/arrow-circle-double-135.png");
}

.icon-remove {
   background-image: url("icons/minus-button.png");
}

.icon-search {
   background-image: url("icons/magnifier-left.png");
}

.icon-warning {
   background-image: url("icons/exclamation.png");
}
